@media (max-width: 1200px) {
  .resources {
    &-items {
      grid-gap: 25px 15px;

      &__item {
        .item-title,
        .text {
          margin: 0 10px;
        }

        .text {
          line-height: 25px;
        }

        .item-title {
          font-size: 20px;
          margin-top: 30px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .resources {
    &-items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .resources {
    margin-bottom: 60px;

    .subtitle {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 550px) {
  .resources {
    &-items {
      grid-template-columns: 1fr;
    }
  }
}
