@media (max-width: 960px) {
  .work {
    &-statistics {
      margin-bottom: 60px;
      grid-row-gap: 25px;

      &__item {
        text-align: center;
      }
    }

    &-examples {
      &__item {
        .item-title {
          margin: 30px 10px 15px;
          font-size: 18px;
          line-height: normal;
        }

        .text {
          margin: 0 10px;
          line-height: 25px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .work {
    padding-top: 60px;
    margin-bottom: 60px;

    .title {
      margin-bottom: 55px;
    }
  }
}

@media (max-width: 650px) {
  .work {
    &-examples {
      grid-template-columns: auto;
      grid-row-gap: 30px;

      &__item .item-img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}
